@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.titlebar-buttonbox-container{-moz-box-ordinal-group: 0 !important }

#nav-bar {
  background: transparent !important;
  height: 36px !important;
  padding: 4px 4px 0px 70px !important;
  font-size: 10px !important;
  -moz-box-ordinal-group: 1 !important;
}

#titlebar {
  /* Move tab bar beneath the url bar */
 -moz-box-ordinal-group: 2 !important;  
}

#PersonalToolbar {
   /* padding: 0 6px 5px !important; */ /* Modification v75 */
   -moz-box-ordinal-group: 3 !important;
}


#TabsToolbar, #nav-bar, #PersonalToolbar, #urlbar {
  -moz-appearance: -moz-mac-vibrancy-dark !important;
}

/* Three window control buttons */
.titlebar-buttonbox-container {
  position: fixed !important;
  display: block !important;
  top: 11px !important;
  left 2px !important;
}

/* Non active tabs have darker text */
  .tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover) {
    color: #ffffff5e !important;
  }

:root[sizemode="fullscreen"] #TabsToolbar {
  padding: 22px 2px !important;
}

:root[uidensity="compact"] toolbarbutton.bookmark-item:not(.subviewbutton) {
  padding: 1px 7px !important;
}

.bookmark-item > .toolbarbutton-icon {
  display: none !important;
}

.titlebar-spacer[type="pre-tabs"] {
  border-inline-end: none !important;
  width: 0px !important;
}

.titlebar-spacer[type="post-tabs"] {
  width: 0px !important;
}

.titlebar-placeholder {
  border: none !important;
}

/* Tabs */
.tabbrowser-tab[fadein] {
  max-width: 50vw !important
}

.tabbrowser-tab::before, .tabbrowser-tab::after {
  display: none !important;
}

.tab-line {
  display: none !important;
}

tab{
    height: 26px !important;
    margin: 2px 4px !important;  
}

.tab-background {
  border-radius: var(--toolbarbutton-border-radius) !important;
  background-image: none !important;
  background-color: none !important;
  /*box-shadow: 0 0 5px rgba(0,0,0,0.2) !important;*/
}

#tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox >
.tabbrowser-tab > .tab-stack >
.tab-background[multiselected="true"]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox >
.tabbrowser-tab > .tab-stack >
.tab-background[selected="true"]:-moz-lwtheme,
.tabbrowser-tab:hover > .tab-stack >
.tab-background:not([selected="true"]):not([multiselected]) {
  background-color: rgba(255,255,255,0.1) !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.2) !important;
}

.tabbrowser-tab[selected="true"] {
    border-radius: var(--toolbarbutton-border-radius) !important;
    background-image: none !important;
    background-color: rgba(255,255,255,0.1) !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.2) !important;  
}

#urlbar-container {
  min-width: calc(150px + 24px + 2 * var(--toolbarbutton-inner-padding)) !important;
}

#urlbar-background {
  background-color: rgba(255,255,255,0.1) !important;
  border: none !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.2) !important;
}

.urlbarView-body-inner {
  border-top: none !important;
}

#urlbar[breakout] {
  /* --urlbar-height: 25px !important;
  --urlbar-toolbar-height: 37px !important; */
  /* Modification v75 - This does not seem to affect to tabs */
}

:root[sizemode="fullscreen"] #urlbar[breakout] {
  /* --urlbar-toolbar-height: 38px !important; */ /* Modification v75 */
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 0px !important;
  padding-inline: 0px !important;
  transition: none !important;
  
}

#urlbar[breakout][breakout-extend] {
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: 0 !important;
  width: 100% !important;
}


:root {
  --chrome-content-separator-color: none !important;
  --lwt-toolbar-field-border-color: rgba(255,255,255,0.2) !important;
  --tabs-border: transparent !important;
  --toolbar-field-focus-border-color: none !important;
  --toolbarbutton-border-radius: 4px !important;
  --urlbar-separator-color: var(--lwt-toolbar-field-border-color) !important;
}

/* ================
Custom Improvements
================ */

/* From https://www.reddit.com/r/FirefoxCSS/comments/g73cml/complete_css_noob_here_how_do_i_add_a_fade_inout/fof3jrs?utm_source=share&utm_medium=web2x */

/* Hide Extension Name in the identity area unless hovered for half a second */
#identity-box.extensionPage #identity-icon-labels {
  visibility: collapse !important;
  transition: visibility 250ms ease-in-out;
}
#identity-box.extensionPage:hover #identity-icon-labels {
  visibility: visible !important;
  transition: visibility 250ms ease-in-out 500ms;
}
/* From https://discourse.mozilla.org/t/make-addressbar-text-extension-name-of-the-extension-shorter-or-hide/28026/3 */

/* Remove back button circle */
#back-button:not(:hover),
#back-button:not(:hover) > .toolbarbutton-icon {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Avoids white flash? */
#tabbrowser-tabpanels{
  background-color: var(--uc-light-bkgnd-color, #1a1a1b) !important;
}

/* Replace favicon on tabs with close button on hover */
 
.tabbrowser-tab:not(:hover) .tab-close-button{ opacity: 0;
  visibility: visible;
  transition-delay: 0ms, 0ms !important; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button{ 
  transition: opacity 200ms linear, visibility 0ms linear 200ms !important;
  opacity: 1;
  visibility: visible;
  display: -moz-inline-box !important;
}
 
.tabbrowser-tab:not([pinned]):hover  .tab-icon-image {
  display: none !important;
}
 
.tabbrowser-tab:hover  .tab-throbber,
.tabbrowser-tab:hover  .tab-icon-image,
.tabbrowser-tab:hover .tab-sharing-icon-overlay,
.tabbrowser-tab:hover  .tab-icon-overlay,
.tabbrowser-tab:hover  .tab-label-container,
.tabbrowser-tab:hover  .tab-icon-sound {
  -moz-box-ordinal-group: 2 !important;
}

.tabbrowser-tab .tab-icon-sound {
  -moz-box-ordinal-group: 2 !important;
}
 
 
.tabbrowser-tab .tab-close-button {
  margin-left: -2px !important;
  margin-right: 4px !important;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_with_one_tab.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes tabs toolbar items zero-height initially and sets enlarge them to fill up space equal to tab-min-height set on tabs */
/* Firefox 65+ only */

:root[sizemode="normal"] #nav-bar{ --uc-window-drag-space-width: 20px }

#titlebar{ -moz-appearance: none !important; }
#TabsToolbar{ 
  min-height: 0px !important;
  padding: 4px 4px !important;
}


#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-arrowscrollbox{ min-height: 0 !important; }

:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button,
:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button{
  -moz-appearance: none !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  -moz-box-align: stretch;
  margin: 0 !important;
}

#tabbrowser-tabs .tabbrowser-tab{ height: var(--tab-min-height) }

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
  visibility: collapse !important;
}
